img.im2{
    margin-left: 1300px;
}

div.nav{
    background-color: black;
    width: 1520px;
    height: 100px;
}
p.p1{
    color: rgb(234, 230, 230);
    letter-spacing: 8px;
    font-size: 30px;
    text-align: center;
    margin-top: -80px;
    
}
ul.ul1{
    margin-left: 950px;
}
ul.ul1 li{
    color: white;
    display: inline-block;
    padding-left: 30px;
}
ul.ul1 li a{
    text-decoration: none;
    color: white;
}

ul.ul1 li a:hover{
    background-color: brown;
    padding: 15px;

}
div.interbox{
    background-color: black;
    opacity: 0.6;
    border-style: solid;
    border-color:wheat;
    width: 800px;
    height: 400px;
    margin-top: -600px;
}
.p2{
    font-size: 30px;
}
.p2,.p3{
    color: white;
    padding-top: 40px;
}
hr{
    width: 700px;
}
input.b1{
    border-style: solid;
    border-color: red;
    margin-top: 80px;
    font-size: 20px;
}
div.footer{
    background-color: black;
    width: 1520px;
    height: 500px;
    
}

  div.ft1{
    margin-top: 80px;
    background-size: 400px;
    padding-top: 150px;
    padding-left: 40px;
    
  }

div.ft2{
    padding-left: 350px;
    margin-top:-250px ;
  }
div.ft1 div.ft3{
text-align: center;
margin-right: 1250px;
}
.l1, .p4, .p5, .p6{
    color: white;
}
.ul2{
    list-style-type: none;
    padding-top: 20px;
}
ul.ul2 li{
    padding: 10px;
}

div.ft1 img{
    border-radius: 100px;
    border-style: solid;
    border-color: red;
}
div.ft4{
    margin-top: -230px;
    padding-left: 600px;
}
div.ft4 img{
    border-radius: 140px;
    padding-top: -30px;
}
.p6{
    margin-top: -30px;
    padding-left: 60px;
}
div.ft5{
    margin-top: -210px;
    padding-left: 900px;
}
title{
    letter-spacing: 4px;
}

div.sint{
    background-color: white;
    width: 1520px;
    height: 600px;
    margin-bottom: -80px;
}



div.meat, div.dogtoys, div.collars, div.sup{
    width: 760px;
    height: 300px;
    
}
div.meat img, div.dogtoys img, div.collars img, div.sup img{
    border-color: yellow;
    border-style: solid;
    
}
.p7{
    font-weight: bold;
    font-size: 20px;
    color: black;
    
}
.p8{
 color: black;
 font-size: 14px;
 
}
input.b2{
    margin-left: 600px;
    background-color: rgba(250, 171, 60, 0.847);
    width: 120px;
    height: 30px;
    border-radius: 25px;
}
div.dogtoys, div.sup{
    margin-left: 760px;
    margin-top: -300px;
}


div.rebox{
    width: 760px;
    height: 500px;
    margin-left: 380px;
    margin-top: -700px;
    border-style: solid;
    border-radius: 20px;
    border-color: green;
    background-color:rgb(164, 160, 160);
    opacity: 0.6;
   
}
div.re{
    width: 760px;
    height: 500px;
    margin-left: 380px;
    margin-top: -700px;
}
hr.hr2{
    margin-left: 20px;
    color:white;
    height: 3px;
}
.p9{
    font-size: 30px;
    color: yellow;
    margin-left: 20px;
    font-weight: bold;
}
.p10{
    font-weight: bold;
    
}
input.b3{
    background-color: white;
    color: black;
    width: 80px;
    border-style: solid;
    border-color: red;
    margin-left: 300px;
    margin-top: 20px;
}




div.inau{
    background-color: white;
    width: 1520px;
    height: 600px;
    margin-bottom: -80px;
}
div.pic{
    margin-left: 200px;
}

div.para{
    margin-left: 700px;
    margin-top: -600px;
    width: 600px;
    height: 600px;
}
.p11{
    text-decoration: underline;
    font-size: 30px;
    text-align: center;

}
.p12{
    text-align: center;
    line-gap-override: 5px;
}